/* Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Outline&family=Bungee+Shade&family=Oswald&display=swap');


body {
  margin: 0;
}

/* Navigation Bar */
.nav {
    /* height: 100%; */
    /* padding-top: 200px; */
    /* border: solid 5px black; */
    background-color: black;
    margin-top: 2px;
    padding-top: 10px;
    height: 50px;
}

.nav a {
  color: white;
  font-family: 'Bungee', cursive;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: none;
  color: white
}


/* Underline Effect */

.nav-link {
  position: relative;
}

a.nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: -5px;
  left: 0;
  background-color: #8CD1CC;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}


/* hover for underline over links */

a.nav-link:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

/*  Logo and social media */
.logo-bfunk {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width:50%;
  padding-top: 100px;
}




/* About us Section */

.about-us {
  display:flex;
  /* flex-wrap: wrap; */
  padding:8%;

}

.about-us p {
  text-align: left;
}

.title { 
  font-size: 3rem;
  font-family: 'Bungee Shade', cursive;
  text-align: center;
}
/* Float left, titles on the left side. */

.float_left {
  flex: 20%;
  border-right: 10px solid #ffab24;
  text-align: end;
  /* font-size: 3rem;
  font-family: 'Bungee Shade', cursive; */
  padding-right: 50px;
}

.logo_social {
  display: inline-block;
  /* justify-content:space-around; */
  /* margin: -10px; */
  padding-right: 79%;
  

}

/* Float Right on the left */

.float_right {
  flex: 80%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 1%;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
}


/* Shows Section  */
.shows { 
  display: flex;
  padding: 5%;
  background-color: #8cd1cc;


}

.shows-right {
  flex: 20%;
  border-left: 10px solid #BE554F;
  
  /* text-align: right; */

}




.shows-left {
  flex: 80%;
  padding-left: 10%;
  padding-right: 10%;
  /* padding-top: 1%; */
  font-family: 'Oswald', sans-serif;
  text-align: center;
  /* color: white; */
  font-size: 2rem;
}

.shows-list li {
  list-style: none;
  padding-top: 20px;
}

.Border-list {
  content: "";
  display: block;
  margin: 0 auto;
  width: 10%;
  padding-top: 20px;
  /* padding-bottom: 10px; */
  border-bottom: 3px solid #BE554F;
}

.Book {
  text-align: center;
}

/* Music */

.music {
  display: flex;
  padding: 8%;
  /* padding-bottom: 0%; */
  margin-top:2%;
  background-color: #f9a76d;
}

#music-left {
  border-right: 10px solid #046f93;
}

#myProgress {
  width: 420px;
   background-color: #d9d9f2; 
  cursor: pointer;
  border-radius: 10px;
}

#myBar {
  width: 0%;
  height: 5px;
  background-color: #ffc266;
  border-radius: 10px;
}

.logo {
  fill: red;
}

.btn-action{
  cursor: pointer;
  padding-top: 10px;
  width: 30px;
}

.btn-ctn, .infos-ctn{
  display: flex;
  align-items: center;
  justify-content: center;
}
.infos-ctn{
padding-top: 20px;
}

.btn-ctn > div {
 padding: 5px;
 margin-top: 18px;
 margin-bottom: 18px;
}

.infos-ctn > div {
 margin-bottom: 8px;
 color: #ffc266;
}

.first-btn{
  margin-left: 3px;
}

.duration{
  margin-left: 10px;
}

.titulo{
  margin-left: 10px;
  width: 210px;
  text-align: center;
}

.player-ctn{
  border-radius: 15px;
  width: 420px;
  padding: 10px;
  background-color: #373737;
  margin:auto;
  /* margin-top: 100px; */
}

.playlist-track-ctn{
  display: flex;
  background-color: #464646;
  margin-top: 3px;
  border-radius: 5px;
  cursor: pointer;
}
.playlist-track-ctn:last-child{
  /*border: 1px solid #ffc266; */
}

.playlist-track-ctn > div{
  margin:10px;
}
.playlist-info-track{
  width: 80%;
}
.playlist-info-track,.playlist-duration{
  padding-top: 7px;
  padding-bottom: 7px;
  color: #e9cc95;
  font-size: 14px;
  pointer-events: none;
}
.playlist-ctn{
   padding-bottom: 20px;
}
.active-track{
  background: #4d4d4d;
  color: #ffc266 !important;
  font-weight: bold;
  
}

.active-track > .playlist-info-track,.active-track >.playlist-duration,.active-track > .playlist-btn-play{
  color: #ffc266 !important;
}


.playlist-btn-play{
  pointer-events: none;
  padding-top: 5px;
  padding-bottom: 5px;
}
.fas{
  color: #ffc266;
  font-size: 20px;
}

/* Pictures */

#pictures {
  /* padding: 7%; */
  /* padding-bottom: 0%; */
  /* padding-top: 0%; */
  /* background-color: black; */
}

.pic-title {
  /* background-color: #6Dada5; */
  /* border: 15px solid #f18c43; */

}

/*  PANEL SECTION */
 
*, *:before, *:after {
  box-sizing: inherit;
}

.panels {
  /* padding:5px; */
  min-height: 70vh;
  overflow: hidden;
  display: flex;
}

.panel {
  background: #6B0F9C;
  box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
  color: white;
  text-align: center;
  align-items: center;
  /* Safari transitionend event.propertyName === flex */
  /* Chrome + FF transitionend event.propertyName === flex-grow */
  transition:
    font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    flex 0.7s cubic-bezier(0.31,-0.19, 0.7,-0.11),
    background 0.2s;
  font-size: 20px;
  background-size: cover;
  background-position: center;
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.panel1 { background-image: url(../Pictures/Grey.jpg); }
.panel2 { background-image:url(../Pictures/JakeMarcus4.jpg); }
.panel3 { background-image:url(../Pictures/NickSing.jpg); }
.panel4 { background-image:url(../Pictures/PaulBenji.jpg); }
.panel5 { background-image:url(../Pictures/Nick+band.jpg); }

/* Flex Items */
.panel > * {
  margin: 0;
  width: 100%;
  transition: transform 0.5s;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel > *:first-child { transform: translateY(-100%); }
.panel.open-active > *:first-child { transform: translateY(0); }
.panel > *:last-child { transform: translateY(100%); }
.panel.open-active > *:last-child { transform: translateY(0); }

/* .panel p {
  text-transform: uppercase;
  font-family: 'Amatic SC', cursive;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  font-size: 2em;
} */

.panel p:nth-child(2) {
  font-size: 4em;
}

.panel.open {
  flex: 3;
  font-size: 40px;
}

@media only screen and (max-width: 600px) {
  .panel p {
    font-size: 1em;
  }
}

@media only screen and (max-width:375px){
  
  
  .about-us {
    display:block;
    /* flex-wrap: wrap; */
    /* padding:8%; */
  }
  .title { 
    font-size: 2rem;
  }
  .music { 
    display:block;
  }
  .shows { 
    display:block;
  }

}